.testimonials__inner {
	justify-content: space-between;
	align-items: end;
	display: flex;
	margin-bottom: 40px;
	gap: 30px;
}
.testimonials__info {
	max-width: 50%;
}
.testimonials__title {
	margin-bottom: 20px;
}

.testimonials__nav {
	display: flex;
	gap: 30px;
}

.testimonials__prev,
.testimonials__next {
	cursor: pointer;
	background: transparent;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border: 1px solid var(--accent-color);
	flex-shrink: 0;
	transition: var(--transition);
}
.swiper-button-disabled.testimonials__prev,
.swiper-button-disabled.testimonials__next {
	border: 1.5px solid #e1d9e1;
	cursor: auto;
}
.swiper-button-disabled.testimonials__prev:hover,
.swiper-button-disabled.testimonials__next:hover {
	background: var(--general-bg);
}
.swiper-button-disabled.testimonials__prev path,
.swiper-button-disabled.testimonials__next path {
	fill: #e1d9e1;
}
.swiper-button-disabled.testimonials__prev:hover path,
.swiper-button-disabled.testimonials__next:hover path {
	fill: #e1d9e1;
}
.testimonials__prev:hover,
.testimonials__next:hover {
	background: var(--accent-color);
}
.testimonials__prev:hover path,
.testimonials__next:hover path {
	fill: var(--general-bg);
}
.testimonials__prevt path,
.testimonials__nextv path {
	transition: var(--transition);
}
.testimonials__slider {
	overflow: visible;
}

.testimonials__wrapper {
	margin-bottom: 40px;
}

.testimonials__slide {
	border-radius: var(--border-radius);
	background: var(--accent-bg);
	padding: 30px 30px 40px;
	display: flex;
	gap: 30px;
	opacity: 0;
	height: auto;
	transition: var(--transition);
}
.testimonials__slide.swiper-slide {
	transform: scale(0.9);
}

.swiper-slide-active.testimonials__slide {
	transform: scale(1);
	opacity: 1;
}

.testimonials__slider .swiper-slide-next,
.testimonials__slider .swiper-slide-prev {
	opacity: 0.5;
}
.testimonials__user {
	max-width: 165px;
	width: 100%;
	flex-shrink: 0;
	text-align: center;
}
.testimonials__user-img {
	border-radius: var(--border-radius);
	overflow: hidden;
	margin-bottom: 20px;
	width: 100%;
}
.testimonials__user-name {
	text-transform: uppercase;
	line-height: 1.6;
	margin-bottom: 5px;
	color: var(--accent-text);
}
.testimonials__user-social {
	margin: 0 auto;
	color: #ceaad0;
}

.testimonials__quote span {
	display: block;
	color: var(--accent-text);
	font-family: 'Gabriola';
	font-size: 32px;
	line-height: 0.9;
	margin-bottom: 10px;
}

.testimonials__scrollbar.swiper-scrollbar {
	position: static;
	width: 100%;
	border-radius: 100px;
	background: #ffe0cb;
	height: 7px;
}
.swiper-scrollbar-drag {
	border-radius: 100px;
	background: #ffa55c;
}
